(
    data: [
        [
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
        ],
        [
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
        ],
        [
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Beach,
            Beach,
            Beach,
            Beach,
            Beach,
            Beach,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
        ],
        [
            Water,
            Water,
            Water,
            Water,
            Beach,
            Beach,
            Beach,
            Field,
            Field,
            Field,
            Field,
            Beach,
            Beach,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
        ],
        [
            Water,
            Water,
            Water,
            Water,
            Beach,
            Field,
            Field,
            Field,
            Field,
            Field,
            Field,
            Field,
            Beach,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
        ],
        [
            Water,
            Water,
            Water,
            Water,
            Beach,
            Field,
            Field,
            Field,
            Field,
            Field,
            Field,
            Field,
            Beach,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
        ],
        [
            Water,
            Water,
            Water,
            Beach,
            Beach,
            Field,
            Field,
            Field,
            Field,
            Field,
            Field,
            Field,
            Beach,
            Beach,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
        ],
        [
            Water,
            Water,
            Water,
            Beach,
            Field,
            Field,
            Field,
            Field,
            Field,
            Field,
            Field,
            Field,
            Field,
            Beach,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
        ],
        [
            Water,
            Water,
            Water,
            Beach,
            Beach,
            Field,
            Field,
            Field,
            Field,
            Field,
            Field,
            Field,
            Field,
            Beach,
            Beach,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
        ],
        [
            Water,
            Water,
            Water,
            Water,
            Beach,
            Field,
            Field,
            Field,
            Field,
            Field,
            Field,
            Field,
            Field,
            Field,
            Beach,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
        ],
        [
            Water,
            Water,
            Water,
            Water,
            Beach,
            Beach,
            Field,
            Field,
            Field,
            Field,
            Field,
            Field,
            Field,
            Field,
            Beach,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
        ],
        [
            Water,
            Water,
            Water,
            Water,
            Water,
            Beach,
            Field,
            Field,
            Field,
            Field,
            Field,
            Field,
            Field,
            Beach,
            Beach,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
        ],
        [
            Water,
            Water,
            Water,
            Water,
            Water,
            Beach,
            Field,
            Field,
            Field,
            Field,
            Field,
            Beach,
            Beach,
            Beach,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
        ],
        [
            Water,
            Water,
            Water,
            Water,
            Water,
            Beach,
            Beach,
            Beach,
            Field,
            Field,
            Beach,
            Beach,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
        ],
        [
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Beach,
            Beach,
            Beach,
            Beach,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
        ],
        [
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
        ],
        [
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
        ],
        [
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
        ],
        [
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
        ],
        [
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
        ],
        [
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
        ],
        [
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
        ],
        [
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
        ],
        [
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
        ],
        [
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
        ],
        [
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
        ],
        [
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
        ],
        [
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
        ],
        [
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
        ],
        [
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
        ],
    ],
    grid_size: (30, 30),
)